<% provide(:title, 'FitnessApp - ' + 'Home') %>


<body>
  <div class="header">
    <div class="container">
      <div class="header-text">
        <h1>Perfect Fitness</h1>
        <h2>The best choice for your training</h2>
        <p>
          <% if current_admin %>
              HELLO ADMIN
          <% else %>
              Hello Anonymous, please <%= link_to 'log in', admin_login_path %> if you're an admin
          <% end %>
        </p>
      </div>
      <% if @home.pictures.any? %>
          <div id="carouselCustomPage" class="carousel">
            <% @home.pictures.each_with_index do |p, i| %>
                <a class="carousel-item" href='<%= '#!' + String(i + 1) %>'><img src='<%= File.join('/uploads', p.filename) %>'></a>
            <% end %>
          </div>
      <% end %>
      <div class="header-arrow">
        <a href="#menu" class="class scroll"><span> </span> </a>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-bottom_left">
        <i class="phone"> </i><span>perfectfitness@fit.com</span>
      </div>
      <div class="social">
        <ul>
          <li class="facebook"><a href="#"><span> </span></a></li>
          <li class="twitter"><a href="#"><span> </span></a></li>
          <li class="pinterest"><a href="#"><span> </span></a></li>
          <li class="google"><a href="#"><span> </span></a></li>
          <li class="tumblr"><a href="#"><span> </span></a></li>
          <li class="instagram"><a href="#"><span> </span></a></li>
          <li class="rss"><a href="#"><span> </span></a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- end header_bottom -->
</body>
