<% provide(:title, 'FitnessApp') %>
<div>
  <% if current_admin %>
      HELLO ADMIN
  <% else %>
      Hello Anonymous, please <%= link_to 'log in', admin_login_path %> if you're an admin
  <% end %>
</div>